* {
  box-sizing: border-box;
}

body {
  background-color: #1c427b;
}

h1, h2 {
  margin: 0;
}

.form {
  width: 800px;
  padding: 20px 50px;
  margin: auto;
  margin-top: 200px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.form > label, .form > div, .form > fieldset {
  margin-top: 10px;
}

.side-by-side-controls {
  display: flex;
}

.side-by-side-controls > label {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.side-by-side-controls > button {
  margin-left: 50px;
  height: 24px;
  margin-top: auto;
}

.side-by-side-controls > label:first-child {
  flex-grow: 1;
  margin-left: 0;
}

.simple-label {
  display: flex;
  flex-direction: column;
}

#description {
  height: 200px;
}

fieldset {
  background-color: white;
}

legend {
  background: linear-gradient(0deg, white, whitesmoke);
}

img {
  padding: 10px;
}
